<!doctype html>
<html>
<head>
	<title>Workout Tracker</title>
        <link rel="stylesheet" type="text/css" href="/stylesheets/styles.css">
</head>
<body>
  
      {{{body}}}
      <script type="text/javascript" src="/javascripts/scripts.js"></script>  
</body>
</html>
